/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #1c2431; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

main {
  background-color: #181f2a; }

img {
  max-width: 100%;
  display: block;
  margin: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: white; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-width-60 {
  width: 75%;
  max-width: 71rem;
  margin: auto; }

.u-width-90 {
  width: 90%;
  margin: auto; }

.card {
  width: 45%;
  text-align: center;
  padding: 2rem; }

.header {
  background-image: url(../../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  padding: 0 3rem; }
  .header .paragraph {
    padding: 3rem; }

.navigation {
  position: relative;
  width: 100%;
  padding: 2rem 4rem; }
  .navigation__logo {
    position: absolute;
    width: 10rem;
    top: 50%;
    translate: 0 -50%; }
  .navigation__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem; }
  .navigation__link, .navigation__link:active, .navigation__link:link {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif; }

.our-offers-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10%; }

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%; }

.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center; }
