@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

//colors

$bg-primary: hsl(217, 28%, 15%);
$bg-secondary: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonail: hsl(219, 30%, 18%);

$light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

$call-to-action-gradient-primary: hsl(176, 68%, 64%);
$call-to-action-gradient-secondary: hsl(198, 60%, 50%);

//fonts

$default-font-size: 1.4rem;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Raleway", sans-serif;
