.footer {
  padding: 10rem 5%;

  &__logo {
    margin-right: auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 5rem;
    }

    & > * {
      max-width: 25%;

      @include respond(tab-port) {
        max-width: 100%;
      }
    }
  }

  &__about {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }

  &__contact div {
    display: flex;
    gap: 2rem;
  }

  &__nav {
    list-style: none;
    columns: 2;

    @include respond(tab-port) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    margin-bottom: 1rem;
    display: inline-block;
  }

  &__social {
    display: flex;
    gap: 1rem;

    @include respond(tab-port) {
      align-self: center;
    }

    a {
      text-decoration: none;
      color: $white;
      border: 1px solid white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
