.header {
  background-image: url(../../images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  padding: 0 3rem;

  &__illustration {
  }

  .paragraph {
    padding: 3rem;
  }
}
