.navigation {
  position: relative;
  width: 100%;
  padding: 5%;

  &__logo {
    position: absolute;
    width: 10rem;
    top: 50%;
    translate: 0 -50%;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  &__link,
  &__link:active,
  &__link:link {
    text-decoration: none;
    color: rgba($white, 0.5);
    font-family: $font-primary;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
