.navigation {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;

  &__logo {
    position: absolute;
    width: 10rem;
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  &__link,
  &__link:active,
  &__link:link {
    text-decoration: none;
    color: $white;
    font-family: $font-primary;
  }
}
