.card {
  width: 45%;
  text-align: center;
  padding: 2rem;

  @include respond(tab-port) {
    width: 100%;
  }

  & > * {
    margin-bottom: 2rem;
  }

  img {
    margin-left: auto;
    margin-right: auto;
  }
}
