.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-width-70 {
  width: 70%;
  max-width: 100rem;
  margin: auto;

  @include respond(tab-port) {
    width: 90%;
  }
}

.u-width-90 {
  width: 90%;
  margin: auto;
}
