.our-offers-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.testimonial-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
